
Modul-3/.ipynb_checkpoints/Modul-3-checkpoint.ipynb
Modul-3/.ipynb_checkpoints/Modul3-ScriptIOC-checkpoint.ipynb
Modul-3/.ipynb_checkpoints/Modul3-ScriptPmelNOAA-checkpoint.ipynb
Modul-3/.ipynb_checkpoints/Modul3-ScriptWavelet-checkpoint.ipynb
Modul-3/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Modul-3/Kedalaman 1 Timeseries.png
